## Working with JSON

In [1]:
import pandas as pd

In [2]:
pd.read_json('/content/train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## Working with API

In [1]:
import pandas as pd
import requests

In [3]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key==<<?><?>?=en-US&page=1')

In [9]:
temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [10]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,107.555,8.7,17227
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,96.667,8.7,23024
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,66.994,8.6,10441
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,61.177,8.6,13637
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,33.879,8.6,4015

In [11]:
df = pd.DataFrame()

In [12]:
for i in range(1,429):
  response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
  temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
  df=df.append(temp_df,ignore_index=True)

In [14]:
  df.shape

(8560, 7)

In [ ]:
df.to_csv('movie.csv')